security:
  password_hashers:
    App\Entity\User:
      algorithm: auto

  providers:
    jwt:
      lexik_jwt: ~

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    docs:
      pattern: ^/api/docs
      security: false
      stateless: true

    api:
      pattern: ^/api
      stateless: true
      provider: jwt    
      jwt: ~           

  access_control:
    - { path: ^/api/docs, roles: PUBLIC_ACCESS }
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
